<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title i-Go Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar">
                @Html.ActionLink("i-Go Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })&emsp;&emsp;
                <a class="active">@Html.ActionLink("Orders", "Orders", "Home")</a>&emsp;
                <a class="active">@Html.ActionLink("Fleet", "Fleet", "Home")</a>&emsp;
                <a class="active">@Html.ActionLink("Calendar", "Calendar", "Home")</a>&emsp;
                <a class="active">@Html.ActionLink("Statistics", "Statistics", "Home")</a>&emsp;
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Fleet", "Index", "Home")</li>
                    <li>@Html.ActionLink("Orders", "About", "Home")</li>
                    <li>@Html.ActionLink("Calendar", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Statistics", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - By <a href="https://www.onsight.gr" /> OnSight</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
